<div class='task_panel' id="column.<%= column[:id] %>">
  <h3><%=h @statuses[column[:id]] %></h3>
  <div class="task_list">
    <%= render :partial => "task", :collection => column[:tasks] %>
  </div>
  <div class="time_list fr"></div>

    <div class="fl users_stats">
      <% column[:points].each do |type, users| %>
        <div data-type-id='<%= type.id %>'>
          <b><%= type.name %>:</b>
          <% users.each do |user, points| %>
            <div class='clearfix user_points' data-user-name='<%= user ? user.name : 'not assigned' %>'>
              <span class='fl'><%= user ? user.name : 'not assigned' %>: </span>
              <span class='fr'><%= points %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
